.tableDataWrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: 1rem;
    padding: 1rem;
    background-color: #dfdfdf;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.start_cell{
    grid-column-start: 2;
}
.controlBtn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
