button{
    height: 30px;
}
.tableDataWrapper{
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: #dfdfdf;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    gap: 10px;
}
.controlBtn:hover{
    color: white;
}
.start_cell{
    grid-column-start: 2;
}
.controlBtn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
