.centredCell{
    display: flex;
    padding:0 ;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}
.hoveredCell:hover{
    margin: 0;
    transition: 0.4s;
    transform: scale(1.2)
}
.hoveredCell{
    cursor: pointer;
    margin: 0;
    padding: 10px;
    transition: 0.4s;
}
.editBtn{
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}