
.icon{
    display: inline-block;
    margin: 5px;
}
.icon:hover{
    cursor: pointer;
    color: blue;
}
.flex__level{
    display: flex;
    text-align: center;
    justify-content: center;

}
.flex__level:hover{
    cursor: pointer;
    color: red;
}