.tableHeadWrapper{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}




